
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@400;500;600;700;800;900&family=Scheherazade+New:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
}
.pre-font{
  font-family: 'Poppins', sans-serif;
}
.headline-font{
  font-family: 'Scheherazade New', serif;
  font-size: 48px;
}
.button-font{
  font-family: 'Raleway', sans-serif;
}

.med-button{
  color: white;
  background-color: #32c688;
  font-size: 16px;
}
.med-button-2{
  color: #32c688;;
  background-color: #ffffff;
  font-size: 16px;
}

.basic-color{
  color: #32c688;
}



